.input {
  font-size: 0.9rem;
  color: var(--text-secondary);
  background-color: transparent;
  border: 1px solid var(--text-secondary);
  border-radius: 5px;
  height: 40px;
  min-width: 200px;
  padding: 10px;
}