.grid {
  --video-player-height-lg: 489.38px;
  --video-player-height-md: 320.63px;
}

.video-info {
  margin-top: 10px;
}

.video-info h1 {
  color: var(--text-primary);
  font-size: 2rem;
  margin: 5px 0 25px 0;
}

.video-info time,
.video-info .views {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.video-info time {
  margin-right: 10px;
}

.video-info p {
  color: var(--text-primary);
  font-size: 0.75rem;
  line-height: 1.75;
  margin: 0;
}

.video-info .tags {
  display: flex;
  flex-wrap: wrap;
}

.ad {
  margin: 0 auto;
  margin-top: 10px;
}

.episodes-wrapper {
  margin-top: 10px;
}

.episodes-wrapper ol {
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.episodes-wrapper li {
  list-style-type: none;
  margin-bottom: 10px;
}

.popular-videos-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.popular-videos-wrapper h2 {
  color: var(--text-primary);
  font-size: 1.5rem;
  margin: 10px 0;
}

.video-card-placeholder {
  border-radius: 5px;
  padding-bottom: 56.25%;
  background-color: var(--paper-1);
}

@media screen and (min-width: 600px) {
  .popular-videos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .grid {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 300px;
    grid-template-rows: var(--video-player-height-md) 1fr;
  }

  .video-wrapper {
    grid-row: 1;
    grid-column: 1;
  }

  .video-info {
    grid-row: 2;
    grid-column: 1;
  }

  .episodes-wrapper {
    grid-row: 1 / span 2;
    grid-column: 2;
    margin-top: 0;
  }

  .episodes-wrapper ol {
    max-height: calc(var(--video-player-height-md) + 300px);
  }

  .popular-videos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    grid-template-rows: var(--video-player-height-lg) 1fr;
  }

  .episodes-wrapper ol {
    max-height: calc(var(--video-player-height-lg) + 300px);
  }

  .popular-videos-container {
    grid-template-columns: repeat(4, 1fr);
  }
}